[submodule "submodules/HunyuanVideo"]
	path = submodules/HunyuanVideo
	url = https://github.com/Tencent/HunyuanVideo
[submodule "submodules/flow"]
	path = submodules/flow
	url = https://github.com/lodestone-rock/flow
[submodule "submodules/HiDream"]
	path = submodules/HiDream
	url = https://github.com/HiDream-ai/HiDream-I1
[submodule "submodules/LTX_Video"]
	path = submodules/LTX_Video
	url = https://github.com/Lightricks/LTX-Video
